#contextContainer {
    position: absolute;
    width: 1440px;
    left: 360px;
    top: 64px;
    bottom: 546px;
}

#callsContainer {
    position: absolute;
    width: 1440px;
    left: 0px;
    top: 135px;
    bottom: 0px;
    
    background: var(--primary-white);
    
    box-shadow: 0px 4px 5px var(--header-box-shadow);
    border-radius: 8px;
}

#callsFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    position: absolute;
    width: 1440px;
    height: 1904px;
    left: 0px;
    top: 24px;
}

#callsListHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    
    width: 1440px;
    height: 16px;
        
    flex: none;
    order: 0;
    flex-grow: 0;
}

#callsListHeaderContainer {
    width: 1440px;
    height: 16px;
    position: relative;
        
    flex: none;
    order: 0;
    flex-grow: 0;
}

#callsHeaderCheckbox {
    position: absolute;
    left: 0.83%;
    right: 98.06%;
    top: 6.25%;
    bottom: -6.25%;

    display: none;
}

#callsHeaderType {
    position: absolute;
    left: 2.78%;
    right: 95.62%;
    top: 12.5%;
    bottom: 0%;
}

#callsHeaderTime {
    position: absolute;
    left: 6.46%;
    right: 90.69%;
    top: 12.5%;
    bottom: 0%;
}

#callsHeaderEmployees {
    position: absolute;
    left: 12.64%;
    right: 82.64%;
    top: 12.5%;
    bottom: 0%;
}

#callsHeaderCall {
    position: absolute;
    left: 21.53%;
    right: 75.35%;
    top: 12.5%;
    bottom: 0%;
}

#callsHeaderSource {
    position: absolute;
    left: 44.17%;
    right: 51.67%;
    top: 12.5%;
    bottom: 0%;
}

#callsHeaderRating {
    position: absolute;
    left: 59.03%;
    right: 37.71%;
    top: 12.5%;
    bottom: 0%;
}

#callsHeaderDuration {
    position: absolute;
    left: 91.04%;
    right: 2.78%;
    top: 12.5%;
    bottom: 0%;
}

#callsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1440px;
    height: 100%;
    left: 0px;
    top: 36px;
    overflow-y: auto;
}

#callsList::-webkit-scrollbar {
    width: 0px;
}

.dateOfParsedCalls {
    width: 1400px;
    height: 78px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;

    padding-left: 40px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.dateOfParsedCalls .recordItemText {
    display: flex;
    
    height: 22px;
    margin-top: 39px;
    
    letter-spacing: 0.01em;
}

.dateOfParsedCalls .parsingCallsCountText {
    display: flex;
    
    height: 12px;
    margin-top: 40px;
}
