#dataPickerContainer {
    position: relative;
    height: 24px;

    cursor: url("../../../icons/Cursor.png"), pointer;
}

#dataPickerFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

#dateFilter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: relative;

    height: 18px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#dateFilter .selectButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    gap: 8px;

    background: var(--call-page-background);
    border: 1px solid var(--call-page-background);
    color: var(--sidebar-active-line);

    cursor: url("../../../icons/Cursor.png"), pointer;
}

#dateFilter span{
    width: 16px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.selectList {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  
    box-sizing: border-box;
    width: 204px;
      
    background: #FFFFFF;
    border: 1px solid #EAF0FA;
    
    box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
    border-radius: 4px;
    z-index: 1;
  
    cursor: url("../../../../icons/Cursor.png"), pointer;
}
  
.selectList-visible {
    display: block;
}

.selectListItem {
    margin: 0;
    padding: 6px 0 6px 21px;
}

#dataPickerContainer #dateFilter .selectList .selectListItem-selected {
    color: var(--sidebar-active-line);
}

#dateFilter .selectList .selectListItem:hover {
    color: var(--header-bar-text);
    background: var(--primary-blue-13pr);
    border-radius: 0px;
}

.inputHidden {
    display: none;
}

#dateFilter .selectButton:hover svg path {
    fill: var(--sidebar-active-line);
}

#dateFilter .selectButton:hover {
    color: var(--sidebar-active-line);
}

#dataPickerFlexContainer #leftButton  {
    rotate: 90deg;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#dataPickerFlexContainer #leftButton button  {
    background: var(--call-page-background);
}

#dataPickerFlexContainer #rightButton {
    rotate: 270deg;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#dataPickerFlexContainer #rightButton button  {
    background: var(--call-page-background);
}

#specifyDate {
    margin: 0;
    padding: 6px 0 6px 21px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#dateInputs {
    width: 116px;
    height: 28px;
}

#dateInputs input {
    margin: 0;
    padding: 0;
    width: 14px;
    height: 15px;

    outline: none;
    border: none;
    border-bottom: 1px solid var(--header-text);
}

#specifyDate:hover input {
    background: var(--primary-blue-13pr);
}

#dateInputAndCalendarContainer {
    margin: 0;
    padding: 0;
    width: 162px;
    height: 28px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 29px;
}