#callsAnalytic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;

    position: absolute;
    width: 594px;
    height: 34px;
    left: 296px;
    top: 14px;
}

#newCalls {
    width: 162px;
    height: 34px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#callsBar {
    position: absolute;
    left: 0%;
    right: 73.74%;
    top: 82.35%;
    bottom: 0%;

    background: var(--header-bar-background);
    border-radius: 12px;
}

#callsBar div {
    position: absolute;
    height: 100%;
    left: 0%;
    right: 33.33%;
    top: 0%;
    bottom: 0%;

    background: var(--header-green-calls);
    border-radius: 12px 0px 0px 12px;
}

#newCalls .headerBarText {
    position: absolute;
    width: 162px;
    height: 21px;
    left: 0px;
    top: calc(50% - 21px/2 - 6.5px);
        
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

#newCalls .headerBarText p {
    color: var(--header-green-calls);
    margin: 0;
}

#callsQualityBar {
    position: absolute;
    left: 36.7%;
    right: 37.04%;
    top: 82.35%;
    bottom: 0%;

    background: var(--header-bar-background);
    border-radius: 12px;
}

#callsQualityBar div {
    position: absolute;
    height: 100%;
    left: 0%;
    right: 60%;
    top: 0%;
    bottom: 0%;

    background: var(--header-yellow-calls);
    border-radius: 12px 0px 0px 12px;
}

#callsQuality .headerBarText {
    position: absolute;
    width: 164px;
    height: 21px;
    left: 36.7%;
    top: calc(50% - 21px/2 - 6.5px);
        
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

#callsQuality .headerBarText p {
    color: var(--header-yellow-calls);
    margin: 0;
}

#conversionBar {
    position: absolute;
    left: 73.74%;
    right: 0%;
    top: 82.35%;
    bottom: 0%;

    background: var(--header-bar-background);
    border-radius: 12px;
}

#conversionBar div {
    position: absolute;
    left: 0%;
    right: 33%;
    top: 0%;
    bottom: 0%;

    background: var(--header-red-orders);
    border-radius: 12px 0px 0px 12px;
}

#conversionToAnOrder .headerBarText {
    position: absolute;
    width: 145px;
    height: 21px;
    left: 438px;
    top: calc(50% - 21px/2 - 6.5px);
   
    display: flex;
    align-items: flex-end;

    gap: 2px;
}

#conversionToAnOrder .headerBarText p {
    color: var(--header-red-orders);
    margin: 0;
}
