#callsAnalytic {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 56px;

    padding-left: 86px;
    padding-right: 197px;
}

#newCalls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#callsBar {
    position: relative;
    height: 6px;
    width: 156px;

    background: var(--header-bar-background);
    border-radius: 12px;
}

#callsBar div {
    position: absolute;
    height: 100%;
    left: 0%;
    right: 33.33%;
    top: 0%;
    bottom: 0%;

    background: var(--header-green-calls);
    border-radius: 12px 0px 0px 12px;
}

#newCalls .headerBarText {        
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

#newCalls .headerBarText p {
    color: var(--header-green-calls);
    margin: 0;
}

#callsQuality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#callsQualityBar {
    position: relative;
    height: 6px;
    width: 156px;

    background: var(--header-bar-background);
    border-radius: 12px;
}

#callsQualityBar div {
    position: absolute;
    height: 100%;
    left: 0%;
    right: 60%;
    top: 0%;
    bottom: 0%;

    background: var(--header-yellow-calls);
    border-radius: 12px 0px 0px 12px;
}

#callsQuality .headerBarText {        
    display: flex;
    align-items: flex-end;
    gap: 2px;
}

#callsQuality .headerBarText p {
    color: var(--header-yellow-calls);
    margin: 0;
}

#conversionToAnOrder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 7px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

#conversionBar {
    position: relative;
    height: 6px;
    width: 156px;

    background: var(--header-bar-background);
    border-radius: 12px;
}

#conversionBar div {
    position: absolute;
    left: 0%;
    right: 33%;
    top: 0%;
    bottom: 0%;

    background: var(--header-red-orders);
    border-radius: 12px 0px 0px 12px;
}

#conversionToAnOrder .headerBarText {   
    display: flex;
    align-items: flex-end;

    gap: 2px;
}

#conversionToAnOrder .headerBarText p {
    color: var(--header-red-orders);
    margin: 0;
}
