#callsPageContainer {
    position: relative;

    background: var(--call-page-background);

    display: flex;
    flex-direction: row;
}

.headerAndContextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}


