#headerContainer {
    height: 64px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: var(--primary-white);

    box-shadow: 3px 4px 5px var(--header-box-shadow);
}

#headerContainer .date {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 120px;

    color: var(--header-text);
}

#headerSearch {
    border: none;
}

#headerSearch .searchButton {
    background: var(--primary-white);
}

#headerContainer .headerNameText {
    position: relative;
    
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 64px;
}

#headerImage {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-left: 46px;
    padding-right: 115px;
}

#headerNameArrowButton {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
