.callItem {
    width: 1400px;
    height: 65px;
    position: relative;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: url("../../../../icons/Cursor.png"), pointer;
}

.callItem:hover {
    background: var(--call-item-hover);
}

.callItem:hover .callItemDuration {
    display: none;
}

/*.callItem:hover .callItemRecord {
    display: block;
}*/
.callItem .callItemRecord {
    display: block;
}

.callItem:hover .callItemPhone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.callItem:hover .callItemCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.callItemBorder {
    position: absolute;
    left: 2.86%;
    right: -2.86%;
    top: 0%;
    bottom: 98.46%;
    background: var(--calls-item-border);
}

.callItemCheckbox {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0.86%;
    top: 38.46%;

    display: none;
}

.callType {
    position: absolute;
    left: 2.86%;
    right: 95.43%;
    top: 30.77%;
    bottom: 32.31%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.incomingType svg {
  rotate: 180deg;
}

.redCallType svg path {
    fill: var(--header-red-orders);
}

.greenCallType svg path {
    fill: var(--header-green-calls);
}

.blueCallType svg path {
    fill: var(--sidebar-buttons);
}

.callItemTime {
    position: absolute;
    left: 6.86%;
    right: 90.43%;
    top: 33.85%;
    bottom: 33.85%;
    
    display: flex;
    align-items: center;
    text-align: right;
}

#callsList .headerNameText {
    color: var(--header-bar-text);
}

.personAvatar {
    position: absolute;
    left: 13%;
    right: 84.71%;
    top: 26.15%;
    bottom: 24.62%;
}

.personAvatar img {
    position: absolute;
    width: 32px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
    border-radius: 20px;
}

.callItemWeb {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18.43%;
    top: 35.39%;
    bottom: 33.85%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.callItemPhone {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 20.57%;
    top: 38.46%;
    bottom: 36.92%;

    display: none;
}

.telephoneNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    
    position: absolute;
    width: 254px;
    height: 56px;
    left: 22.14%;
    top: 9.23%;
}

.callItemSource {
    position: absolute;
    width: 197px;
    left: 45.42%;
    top: 14.29%;
    bottom: 14.29%;
    
    display: flex;
    align-items: center;
    
    color: #5E7793;
}

.callItemSource div {
    overflow-wrap: break-word;
    max-width: 197px;
    white-space: normal;
}

.noScript {
    position: absolute;
    width: 146px;
    height: 20px;
    left: 852px;
    top: 22px;
}

.telephoneNumber .partnerName {
    color: var(--context-search-text);
    overflow-wrap: break-word;
    max-width: 254px;
    white-space: normal
}







.callItemDuration {
    position: absolute;
    left: 97.29%;
    right: 0%;
    top: 33.85%;
    bottom: 33.85%;
        
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
}

.callItemRecord {
    display: none;
    position: absolute;
    width: 352px;
    height: 48px;
    left: 74.86%;
    top: 13.64%;
    bottom: 13.64%; 
}
