#sidebar {
  position: absolute;
  width: 240px;
  height: 2730px;
  left: 0px;
  top: 0px;

  background: var(--sidebar-background);
}

#sidebarContainer {
  position: absolute;
  width: 240px;
  height: 963px;
  left: 0px;
  top: 0px;

  background: var(--sidebar-background);
}

#sidebarLogo{
  position: absolute;
  left: 5%;
  right: 49.58%;
  top: 2.08%;
  bottom: 95.02%;
}

#sidebarListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 240px;
  height: 520px;
  left: 0px;
  top: 80px;
}