.searchButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;

    border: none;

    cursor: url("../../../icons/Cursor.png"), pointer;
}

.searchButton:hover svg path,
.searchButton:active svg path {
    fill: var(--sidebar-active-line);
}